/* bgColor:- #eba83a */
/* every second section color:- #ffdfb7 */
/* buttons :- #ffab40 */
.about {
  width: 100%;
  padding: 20px 5px;
}
.about > .whatiskvj {
  padding: 30px 10px 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 20px;
}
.about > .whatiskvj > div:nth-child(1) {
  flex: 0.5 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about > .whatiskvj > div:nth-child(1) > h1 {
  width: 100%;
}
.about > .whatiskvj > div:nth-child(1) > p {
  width: 100%;
  text-align: justify;
}
.about > .whatiskvj > div:nth-child(2) {
  flex: 0.5 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about > .whatiskvj > div:nth-child(2) > img {
  height: 300px;
}
.about > .whyjoinus {
  padding: 60px 10px 0px 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 20px;
}
.about > .whyjoinus > div:nth-child(1) {
  flex: 0.5 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about > .whyjoinus > div:nth-child(1) > h1 {
  width: 100%;
}
.about > .whyjoinus > div:nth-child(1) > p {
  width: 100%;
  text-align: justify;
}
.about > .whyjoinus > div:nth-child(2) {
  flex: 0.5 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about > .whyjoinus > div:nth-child(2) > img {
  height: 300px;
}

@media only screen and (max-width: 510px) {
  .about > .whatiskvj > div:nth-child(1),
  .about > .whatiskvj > div:nth-child(2) {
    flex: 1;
  }
  .about > .whatiskvj {
    padding: 10px 15px;
  }
  .about > .whyjoinus > div:nth-child(1),
  .about > .whyjoinus > div:nth-child(2) {
    flex: 1;
  }
  .about > .whyjoinus {
    padding: 25px 15px;
  }
}
