/* bgColor:- #eba83a */
/* every second section color:- #ffdfb7 */
/* buttons :- #ffab40 */
.home{
    width: 100%;
    min-height:100vh;
    position: relative;
    background: url(../images/kvjFam.jpg) center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
/* .home > .labels{
   min-height: 100vh;
   width: 100%;
   background: #101010;
   opacity: .7;
}
.home>.paperCut-layer{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.home>.paperCut-layer > svg{
    position: absolute;
    bottom: 0;
    left: 0;z-index: 1;
}
.home > h1{
    color: #ffab40;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    font-size: 3rem;
    width: 100%;
    text-align: center;
} */
